.col-1 {width: 7.33%;}
.col-2 {width: 15.66%;}
.col-3 {width: 24%;}
.col-4 {width: 32.63%;}
.col-5 {width: 40.66%;}
.col-6 {width: 49.5%;}
.col-7 {width: 55.33%;}
.col-8 {width: 65.66%;}
.col-9 {width: 74%;}
.col-10 {width: 82.33%;}
.col-11 {width: 90.66%;}
.col-12 {width: 100%;}

body {
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

/* Media */
@media only screen and (max-width: 1100px) {
    .col-s-1 {width: 7.33%;}
    .col-s-2 {width: 15.66%;}
    .col-s-3 {width: 24%;}
    .col-s-4 {width: 31.33%;}
    .col-s-5 {width: 40.66%;}
    .col-s-6 {width: 49.5%;}
    .col-s-7 {width: 55.33%;}
    .col-s-8 {width: 65.66%;}
    .col-s-9 {width: 74%;}
    .col-s-10 {width: 82.33%;}
    .col-s-11 {width: 90.66%;}
    .col-s-12 {width: 100%;}
}
