@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

body {
    background-image: url("../img/air.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    
    position: static;
    overflow: hidden;

    margin: 0;
}

#container {
    display: block;
    margin: auto;
    margin-top: 22vh;
    text-align: center;
}

.hidden {
    display: none;
}

#temp {
    display: block;
    margin: auto;
    margin-top: 2vh;
    text-align: center;
    color: white;
    font-family: 'New Tegomin', serif;
    font-size: 1.2em;
}

/* Logo */

#logo {
    width: 15%;
    display: block;
    margin: auto;
    padding-top: 22px;

    filter: brightness(10);
    -webkit-filter: brightness(10);
}

#logo:hover {
    filter: brightness(1);
    -webkit-filter: brightness(1);
}

/* Buttons */

.options {
    border-radius: 50%;
    cursor: pointer;
    border: none;
    width: 15vw;
    height: 15vw;
    display: inline-block;
}

.options:hover {
    filter: brightness(100);
    -webkit-filter: brightness(100);
    box-shadow: 0px 0px 50px 5px rgba(255, 255, 255, 0.5);
}

.options:focus {
    outline: none;
    box-shadow: none;
}

#short {
    background: url("../img/3Mins.png") no-repeat;
    background-size: 100%;
}

#medium {
    background: url("../img/5Mins.png") no-repeat;
    background-size: 100%;
}

#long {
    background: url("../img/9Mins.png") no-repeat;
    background-size: 100%;
}

/* Circle */

.circle {
    display: block;
    margin: auto;

    background: #ffffff;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    /*position: absolute;*/
    overflow: hidden;
    visibility: hidden;

    animation: none;
}

@keyframes grow {
    0% {
        -webkit-transform:  scale(0.3);
        -moz-transform:     scale(0.3);
        -o-transform:       scale(0.3);
        -ms-transform:      scale(0.3);
        transform:          scale(0.3);
    }
     
    21% {
        -webkit-transform:  scale(0.6);
        -moz-transform:     scale(0.6);
        -o-transform:       scale(0.6);
        -ms-transform:      scale(0.6);
        transform:          scale(0.6);
    }

    58% {
        -webkit-transform:  scale(0.6);
        -moz-transform:     scale(0.6);
        -o-transform:       scale(0.6);
        -ms-transform:      scale(0.6);
        transform:          scale(0.6);
    }
     
    100% {
        -webkit-transform:  scale(0.3);
        -moz-transform:     scale(0.3);
        -o-transform:       scale(0.3);
        -ms-transform:      scale(0.3);
        transform:          scale(0.3);
    }
}

/* Media */

@media only screen and (max-width: 1200px) {
    body {
      background-size: 150% auto;
    }

    #logo {
        width: 25%;
        padding-top: 18px;
    }
}
  
@media only screen and (max-width: 700px) {
    [class*="col-"] {
      width: 100%;
    }

    body {
        background-size: 230% auto;
    }
  
    #logo {
        width: 50%;
        padding-top: 5%;
    }
  
}