@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Patrick+Hand+SC&family=Reenie+Beanie&family=Sacramento&display=swap');

body {
    background-image: url("../img/ocean.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    
    position: static;
    overflow: hidden;

    margin: 0;
}

#logo {
    width: 15%;
    display: block;
    margin: auto;
    padding-top: 22px;

    filter: brightness(3);
    -webkit-filter: brightness(3);
}

#logo:hover {
    filter: brightness(10);
    -webkit-filter: brightness(10);
}

#greenIsland {
    height: 55.875vh;
    width: 60vh;
    bottom: 0;
    right: 0;
    background-image: url("../img/colouring/greenIsland.png");
}

#yellowIsland {
    height: 90vh;
    width: 47.47vh;
    top: 0;
    left: 0;
    background-image: url("../img/colouring/yellowIsland.png");
}

#pinkIsland {
    height: 40vh;
    width: 39.45vh;
    top: 0;
    right: 0;
    background-image: url("../img/colouring/pinkIsland.png");
}

.continent {
    z-index: 0;
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.button {
    background-color: transparent;
    border: none;
}

.button:focus {
    outline:0;
}

#increaseRadiusButton {
    position: relative;
    top: -200px;
    left: 8%;
    
    background-image: url("../img/colouring/plusButton.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 50px;
    width: 50px;
}

#increaseRadiusButton:hover {
    background-image: url("../img/colouring/plusButtonHover.png");
}

#reduceRadiusButton {
    position: relative;
    top: -150px;
    left: 0%;

    background-image: url("../img/colouring/minusButton.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 50px;
    width: 50px;
}

#reduceRadiusButton:hover {
    background-image: url("../img/colouring/minusButtonHover.png");
}

#bgColourButtonsDiv {
    display: block;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
}

#penColourButtonsDiv {
    display: block;
    margin: auto;
    text-align: center;
}

#redBlob {
    background-image: url("../img/colouring/redBlob.png");
}

#greenBlob {
    background-image: url("../img/colouring/greenBlob.png");
}

#blueBlob {
    background-image: url("../img/colouring/blueBlob.png");
}

#purpleBlob {
    background-image: url("../img/colouring/purpleBlob.png");
}

#pinkBlob {
    background-image: url("../img/colouring/pinkBlob.png");
}

#yellowBlob {
    background-image: url("../img/colouring/yellowBlob.png");
}

.blob {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 12vh;
    width: 12vh;
}

#colouringCanvas {
    display: block;
    margin: auto;
    margin-top: 47px;
    margin-bottom: 5vh;
    z-index: 100;

    background-color: rgb(189, 96, 96);
    background-color: rgb(223, 160, 160);
    
    width: 400px;
    height: 300px;
}

#coralIsland {
    display: block;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-top: 40px;
    z-index: 100;

    height: 470px;
    width: 670px;

    background-image: url("../img/colouring/colorIsland.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#phoneText {
    background-color: rgba(33, 39, 66, 0.2);
    color: rgb(180, 186, 216);

    display: none;
    text-align: center;

    margin: auto;
    margin-left: 9vw;
    margin-right: 9vw;

    padding: 3vh;

    font-family: Sacramento;
    font-size: 22pt;
}

/* Media */
@media only screen and (max-width: 1540px) {
    body {
      background-size: 150% auto;
    }

    #logo {
        width: 25%;
        padding-top: 18px;
    }

    #greenIsland {
        height: 37.25vh;
        width: 40vh;
    }
    
    #yellowIsland {
        height: 70vh;
        width: 36.92457vh;
    }
    
    #pinkIsland {
        height: 30vh;
        width: 29.58995vh;
    }
}

@media only screen and (max-width: 1200px) {
    body {
      background-size: 150% auto;
    }

    #logo {
        width: 25%;
        padding-top: 18px;
    }

    #continents {
        display: none;
    }
}
  
@media only screen and (max-width: 700px) {
    [class*="col-"] {
      width: 100%;
    }

    body {
        background-size: 230% auto;
    }
  
    #logo {
        width: 50%;
        padding-top: 22vh;
        margin-bottom: 5vh;
    }

    #coralIsland {
        display: none;
    }

    #phoneText {
        display: block;
    }
  
}