body {
    background-image: url("../img/uni.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    
    background-color: rgb(29, 29, 33);
    position: static;
    overflow: hidden;

    margin: 0;
}

/* particles */

/*#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 33);
}*/

/* planets */

.planet {
    display: block;
    margin: auto;
    padding: 0px;
    position: fixed;
    border-radius: 50%;
}

#logo {
    width: 15%;
    display: block;
    margin: auto;
    padding-top: 22px;
}

#logo:hover {
    filter: brightness(10);
    -webkit-filter: brightness(10);
}

#breathing {
    width: 11%;
    top: 15%;
    left: 32%;
    box-shadow: 0px 0px 50px 2px rgba(146, 168, 215, 0.2);
    animation: glowB 1.3s linear infinite alternate;
}
  
#pomodoro {
    width: 35%;
    top: 30%; 
    left: 57%;
    box-shadow: 0px 0px 100px 25px rgba(156, 89, 255, 0.3);
    animation: glowP 1.8s linear infinite alternate;
}
  
#colouring {
    width: 22%;
    top: 41%;
    left: 13%;
    box-shadow: 0px 0px 60px 15px rgba(117, 148, 212, 0.25);
    animation: glowC 1.3s linear infinite alternate;
}

#breathing:hover {
    box-shadow: 0px 0px 50px 2px rgba(146, 168, 215, 0.85);
}
  
#pomodoro:hover {
    box-shadow: 0px 0px 100px 25px rgba(156, 89, 255, 0.55);
}
  
#colouring:hover {
    box-shadow: 0px 0px 60px 15px rgba(117, 148, 212, 0.75);
}

@keyframes glowB{
    to {box-shadow: 0px 0px 50px 7px rgba(146, 168, 215, 0.3);}
}

@keyframes glowP{
    to {box-shadow: 0px 0px 100px 50px rgba(156, 89, 255, 0.3);}
}

@keyframes glowC{
    to {box-shadow: 0px 0px 60px 7px rgba(219, 126, 165, 0.25);}
}

/* Media */

@media only screen and (max-width: 1200px) {
    body {
      background-size: 150% auto;
    }

    #logo {
        width: 25%;
        padding-top: 18px;
    }

    #breathing {
        width: 16%;
        top: 15%;
        left: 32%;
        box-shadow: 0px 0px 25px 1px rgba(146, 168, 215, 0.2);
    }
      
    #pomodoro {
        width: 40%;
        top: 40%; 
        left: 57%;
        box-shadow: 0px 0px 50px 12px rgba(156, 89, 255, 0.3);
    }
      
    #colouring {
        width: 27%;
        top: 41%;
        left: 13%;
        box-shadow: 0px 0px 30px 7px rgba(117, 148, 212, 0.25);
    }

    #breathing:hover {
        box-shadow: 0px 0px 35px 2px rgba(146, 168, 215, 0.85);
    }
      
    #pomodoro:hover {
        box-shadow: 0px 0px 50px 12px rgba(156, 89, 255, 0.55);
    }
      
    #colouring:hover {
        box-shadow: 0px 0px 30px 7px rgba(117, 148, 212, 0.75);
    }
    
    @keyframes glowB{
        to {box-shadow: 0px 0px 25px 1px rgba(146, 168, 215, 0.3);}
    }
    
    @keyframes glowP{
        to {box-shadow: 0px 0px 50px 25px rgba(156, 89, 255, 0.3);}
    }
    
    @keyframes glowC{
        to {box-shadow: 0px 0px 30px 3px rgba(219, 126, 165, 0.25);}
    }
}
  
@media only screen and (max-width: 700px) {
    [class*="col-"] {
      width: 100%;
    }

    body {
        background-size: 230% auto;
    }
  
    #logo {
        width: 50%;
        padding-top: 5%;
    }
  
    #breathing {
        width: 26%;
        position: initial;
        box-shadow: 0px 0px 25px 1px rgba(146, 168, 215, 0.2);
    }
        
    #colouring {
        width: 37%;
        position: initial;
        box-shadow: 0px 0px 30px 7px rgba(117, 148, 212, 0.25);
    }
        
    #pomodoro {
        width: 50%;
        position: initial;
        box-shadow: 0px 0px 50px 12px rgba(156, 89, 255, 0.3);
    }
  
    #breathing:hover {
        box-shadow: 0px 0px 35px 2px rgba(146, 168, 215, 0.85);
    }
        
    #pomodoro:hover {
        box-shadow: 0px 0px 50px 12px rgba(156, 89, 255, 0.55);
    }
        
    #colouring:hover {
        box-shadow: 0px 0px 30px 7px rgba(117, 148, 212, 0.75);
    }
      
    @keyframes glowB{
        to {box-shadow: 0px 0px 25px 1px rgba(146, 168, 215, 0.3);}
    }
      
    @keyframes glowP{
        to {box-shadow: 0px 0px 50px 25px rgba(156, 89, 255, 0.3);}
    }
      
    @keyframes glowC{
        to {box-shadow: 0px 0px 30px 3px rgba(219, 126, 165, 0.25);}
    }

    #vdist {
        width: 85vw;
        /*border: 1px dashed lightcoral;*/
        border-radius: .5em;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-top: 5vh;

        flex-direction: column;
        height: 70vh;
    }

    .planet {
        margin-top: 1em;
    }

}