@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

body {
    background-image: url("../img/pomodoro/pomo.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    
    position: static;
    overflow: hidden;

    margin: 0;
    text-align: center;

    font-family: 'Caveat Brush', cursive;
    text-transform: uppercase;
    color: #fff;
}

#logo {
    width: 15%;
    display: block;
    margin: auto;
    padding-top: 22px;
    margin-bottom: 5vh;

    filter: brightness(3);
    -webkit-filter: brightness(3);
}

#logo:hover {
    filter: brightness(10);
    -webkit-filter: brightness(10);
}

.button {
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    border: none;
    height: 10vh;
    width: 10vh;
    display: inline-block;
    margin: auto;
}

.button:focus {
    outline: none;
}

.minuteSettings {
    font-size: 25pt;
}

.control {
    display: inline-block;
    height: 6vh;

    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.control:focus {
    outline: none;
}

.label {
    width: 15vh;
    font-size: 55pt;
    color: rgb(162, 142, 199);
}

.plus {
    width: 6vh;
    background-image: url("../img/pomodoro/PlusButton.png");
}

.plus:hover {
    background-image: url("../img/pomodoro/PlusButtonHover.png");
}

.minus {
    width: 6vh;
    background-image: url("../img/pomodoro/MinusButton.png");
}

.minus:hover {
    background-image: url("../img/pomodoro/MinusButtonHover.png");
}

#setIntervals {
    background-image: url("../img/pomodoro/SetIntervals.png");
    height: 10vh;
    width: 50vh;
}

#setIntervals:hover {
    background-image: url("../img/pomodoro/SetIntervalsHover.png");
}

#setIntervals:focus {
    outline: none;
}

#time {
    font-size: 75pt;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.setter {
    display: block;
    margin: auto;
    margin-bottom: 2vh;

    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-image: url("../img/pomodoro/SetterLight.png");

    border: none;
    height: 10vh;
    width: 50vh;
}

.setter:hover {
    background-image: url("../img/pomodoro/SetterDark.png");
}

#startButton {
    background-image: url("../img/pomodoro/playButton.png");
}

#startButton:hover {
    background-image: url("../img/pomodoro/playButtonHover.png");
}

#pauseButton {
    background-image: url("../img/pomodoro/pauseButton.png");
}

#pauseButton:hover {
    background-image: url("../img/pomodoro/pauseButtonHover.png");
}

#skipButton {
    background-image: url("../img/pomodoro/skipButton.png");
    width: 30vh;
}

#skipButton:hover {
    background-image: url("../img/pomodoro/skipButtonHover.png");
}

/* Media */

@media only screen and (max-width: 1200px) {
    body {
      background-size: 150% auto;
    }

    #logo {
        width: 25%;
        padding-top: 18px;
    }

    .button {
        height: 10vh;
        width: 10vh;
    }

    #skipButton {
        width: 28.5vh;
    }
}
  
@media only screen and (max-width: 700px) {
    [class*="col-"] {
      width: 100%;
    }

    body {
        background-size: 230% auto;
    }
  
    #logo {
        width: 50%;
        padding-top: 5vh;
    }

    #skipButton {
        width: 30vh;
    }

    .button {
        height: 10vh;
        width: 10vh;
    }
    
    .minuteSettings {
        font-size: 25pt;
    }
    
    .control {
        height: 6vh;
        margin-top: 1vh;
    }
    
    .label {
        width: 15vh;
        font-size: 45pt;
    }
    
    .plus {
        width: 6vh;
    }
    .minus {
        width: 6vh;
    }
    
    #setIntervals {
        height: 10vh;
        width: 50vh;
    }
    
    #time {
        font-size: 75pt;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    
    .setter {
        height: 10vh;
        width: 50vh;
    }
  
}